.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  padding: 50px 15px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapper__box {
  max-width: calc(33.3333% - 20px) ;
  width: 100%;
}
.wrapper__box-big {
  width: 100%;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

span, p {
  display: block;
  margin: 10px;
}

input, textarea, select, button {
  margin: 10px;
  display: block;
}

.relative {
  position: relative;
}

.pad-5 {
  padding: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
table  tr > td,
table tr > th {
  padding: 10px;
  border: 1px solid grey;
}

.user {
  display: flex;

}

.user span {
  margin: 0;
  margin-inline: 10px;
}